<div class="row footer">
  <div class="col col-5 col-lg-5 mx-3 mx-md-3 my-2 footer-links">
    <a href="https://github.com/KaanAlpar/hello-world-packages" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/login" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/login" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="col col-5 col-lg-5 my-2 footer-copyright">
    Hello World Packages <i class="fas fa-heart"></i>  Made at Le Wagon Tokyo Batch 310, by <strong>FLAVID Team</strong>
  </div>
</div>
