<div>
  <div class="pink-search-bar">
    <div class="d-flex flex-column">
      <h2>search for a package</h2>
      <%= simple_form_for :search, url: packages_path, method: :get, html: { class: 'form-inline justify-content-center' } do |f| %>
        <div class="d-flex">
          <div class="d-flex flex-column search_input_container">
            <%= f.input :countries, label: false, placeholder: 'Enter a country name!' %>
            <ul id='results'></ul>
          </div>
          <div class="div">
            <%= f.submit "Search", class: "btn btn-primary ml-1" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
