<div class="pink-search-bar">
  <div class="d-flex flex-column align-items-center px-xs-3 mx-md-3 mb-3">
    <h2>search for a package:</h2>
    <%= simple_form_for :search, url: packages_path, method: :get, html: { class: 'form-inline' } do |f| %>
      <div class="p-2">
        <%= f.input :countries, collection: @countries, label: false, input_html: {class: 'select2'} %>
      </div>
      <div>
        <%= f.submit "Search", class: "button-search" %>
      </div>
    <% end %>
  </div>
</div>
