<div class="background-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <h1>You ordered <em><%= @order.package.name %></em> on <%= @order.created_at.strftime("%A, %b %d") %></h1>
        <%= link_to dashboard_path, class: 'button' do  %>
          Back
        <% end %>
      </div>
    </div>
  </div>
</div>
