.button, .registration-button .btn, .login-button a, .add-item-button {
  height: 50px;
  width: 150px;
  background-color: #5A58A3;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 12px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;

  &:hover {
    text-decoration: none;
    background-color: #6e6da5;
    color: white;
  }
}

.button-flat {
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
}

.button-search {
  height: 50px;
  width: 150px;
  background-color: #5A77A3;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 2px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;

  &:hover {
    text-decoration: none;
    background-color: #7398ce;
    color: white;
  }
}

.button-flat {
  background-color: #FAC5C5;
  border-radius: 4px;
  &:hover {
    background-color: #ffaaaa;
  }
}
