.button, .registration-button .btn, .login-button a {
  background-color: #5A77A3;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;

  &:hover {
    text-decoration: none;
    background-color: #7398ce;
    color: white;
  }
}
