.form-inputs {
  text-align: center;
  object-align: center;
  margin: 16px;
  width: 600px;
}

.sign-up {
  margin: 16px;
}

.sign-up {
  margin-top: 24px;
}

.registration-button, .login-button {
  margin: 6px;
}
