.landing-page-circle {
  color: white;
  background-color: #5A58A3;
  border-radius: 50%;
  display: inline-block;
  height: 300px;
  width: 300px;
  padding: 80px;
  margin: 0px 50px 0px 50px;
  text-align: center;
  justify-content: center;
}
