.navbar-lewagon {
  justify-content: flex-end;
  background-color: white;
  padding-bottom: 18px;
  transition: 0.5s ease;
  color: #5A58A3 ;
  .navbar-nav .nav-link,  .navbar-light .navbar-nav .active > .nav-link {
    margin: 0 8px;
    color: #5A58A3 ;
  }

  .navbar-nav .nav-link:hover,  .navbar-light .navbar-nav .active > .nav-link:hover {
    background-color: #5A58A3;
    border-radius: 8px;
    color: white;
  }

  .navbar-brand img {
    width: 40px;
  }
}

.navbar-lewagon.transparentable.transparent {
  background: rgba(0, 0, 0, 0);
  color: white ;

  .navbar-nav .nav-link,  .navbar-light .navbar-nav .active > .nav-link {
    color: white;
  }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}



.company-name {
  color: white;
  font-size: 28px;
  font-family: 'Gochi Hand', cursive;
  position: absolute;
  top: 5px;
  left: 10px;
}

.company-name li {
  display: flex;
}




