// use for My Orders, My Packages, Add Orders, Add Packages
.user_card {
  background-color: #FFECD3;
  margin: 60px;
  overflow: hidden;
  height: 400px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
