// use for My Orders, My Packages, Add Orders, Add Packages
.user_card {
  background-color: #FFECD3;
  padding: 30px;
  margin: 20px;
  overflow: hidden;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: top;
  justify-content: center;
  text-align: center;
}

.user_card h2 {
}
