.landing-page-card {
 background-color: #C3C3E5;
 padding: 40px;
  color: black;
  margin: 60px;
  overflow: hidden;
  height: 350px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.background-primary h4 {
  padding: 20px;
}

.landing-page-card h2 {
  font-size: 35px;
}

  .landing-page-card p {
    padding: 40px;
  }
