.landing-page-card {
  background-color: #5A58A3;
  text-align: center;
  color: white;
  text-shadow: 0.1px 0.1px 1px #c1c1c1;
  font-size: 20px;
  padding: 20px;
  padding-top: 30px;
  margin: 150px;
  overflow: hidden;
  height: 250px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-around;
  p {
    padding: 30px;
  }
}

.background-primary h4 {
  padding: 20px;
}
