.pink-search-bar {
  background-color: #FEC8C8;
  color: white;
  text-shadow: 1px 1px 1px #000000;
  padding: 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.90;
}

.pink-search-bar h2 {
  padding-top: 20px;
}
