// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
//@import "select2/dist/css/select2";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 50px;
}

h2 {
  font-family: 'Libre Franklin';
  font-weight: bold;
}

h3 {
  font-family: 'Libre Franklin';
}

.pink-bg {
  background-color: #FEC8C8;
}

.blue-bg {
  background-color: #E5D0E3;
}

.text-grey {
  color: #2d2d2d;
}
